window#osd {
    border-radius: 999px;
    border: none;
    background: rgba(30, 30, 46, 0.9); /* Base with higher opacity */

    #container {
        margin: 16px;
    }

    image,
    label {
        color: #cdd6f4; /* Text */
    }

    progressbar:disabled,
    image:disabled {
        opacity: 0.5;
    }

    progressbar,
    segmentedprogress {
        min-height: 6px;
        border-radius: 999px;
        background: transparent;
        border: none;
    }

    trough,
    segment {
        min-height: inherit;
        border-radius: inherit;
        border: none;
        background: rgba(108, 112, 134, 0.5); /* Overlay 0 with transparency */
    }

    progress,
    segment.active {
        min-height: inherit;
        border-radius: inherit;
        border: none;
        background: #b4befe; /* Lavender */
    }

    segment {
        margin-left: 8px;
        &:first-child {
            margin-left: 0;
        }
    }
}
